$content-width: 65rem;
// $nav-width: 17rem;
// $nav-width-md: 16rem;
$header-height: 6.5rem;
// $font-size-8: 2rem; // h1
// $font-size-6: 1.5rem; // h2
// $font-size-5: 1.25rem; //h3
// $font-size-2: 1.125rem; // h4
// $font-size-3: 1rem; // h5
// $font-size-4: 0.875rem; // Default text?

@import "./color_schemes/dark"