<!--An absolutely terrible way to do this, but it works-->
<script>
    const calloutTypes = [
        {% for c in site.callouts %}
        "{{ c[0] }}",
        {% endfor %}
    ];
    calloutTypes.forEach(type => {
        var elements = document.getElementsByClassName(type);
        for (let i = 0 ; i < elements.length ; i++) {
            var item = elements.item(i);
            if (item != null) {
                var id = "";
                heading = document.createElement('h3');
                if (item.id != null && item.id.length > 0) {
                    id = item.id;
                    heading.appendChild(createAnchor(id));
                }
                heading.id = id;
                item.parentElement.insertBefore(heading, item);
                item.parentElement.removeChild(item);
                heading.appendChild(item);
            }
        }
    });

    function createAnchor(id) {
        var anchor = document.createElement('a');
        anchor.className = 'anchor-heading';
        anchor.href = '#' + id;
        anchor.setAttribute('aria-labelledby', id);
        var svg = document.createElement('svg');
        svg.setAttribute('viewBox', '0 0 16 16');
        svg.ariaHidden = 'true';
        var use = document.createElement('use');
        use.setAttribute('xlink:href', '#svg-link');
        use.innerHTML = '{% include icons/link.html %}';
        svg.appendChild(use);
        anchor.appendChild(svg);
        return anchor;
    };

    /* Extremely terrible way to do this, but it colors things decently until the Proper Solution™ is implemented */
    const functionalInterfaces = [
        "Consumer",
        "BiConsumer",
        "TriConsumer",
        "BiFunction",
        "TriFunction",
        "QuadFunction",
        "RockFunction",
        "OnItemUseAction",
        "Supplier",
        "RocksGetter",
        "MossGrowingCallback",
        "Predicate",
        "Noise2D",
        "BlockBehaviour$StateArgumentPredicate",
        "BlockBehaviour$StatePredicate"
    ];
    const enums = [
        "Month",
        "SpawnPlacements$Type",
        "Heightmap$Types",
        "ForestType",
        "ProspectResult",
        "Punishment",
        "Direction",
        "AqueductModelPart",
        "SpikeModelType",
        "LampModelType",
        "Lifecycle",
        "GrassModelPart",
        "DeadModelVariant",
        "NutrientType",
        "GearBoxModelType",
        "ClutchModelType",
        "PushReaction",
        "OffsetType",
        "NoteBlockInstrument",
        "ItemDisplayContext",
        "GlassOperation",
        "Size",
        "Weight",
        "PlanterType",
        "ChiselMode",
        "ForgeRule",
        "DyeColor",
        "Heat",
        "InteractionResult",
        "Type"
    ];
    const primitives = [
        "number",
        "boolean",
        "declare",
        "int",
        "float",
        "long",
        "double",
        "integer"
    ];
    var elements = document.getElementsByClassName('nx');
    for (let i = 0 ; i < elements.length ; i++) {
        var elm = elements.item(i);
        var txt = elm.textContent;
        if (primitives.includes(txt)) {
            elm.className = "kc";
        } else if (enums.includes(txt)) {
            elm.className = "enum";
        } else if (functionalInterfaces.includes(txt)) {
            elm.className = "nb";
        }
    }
</script>