<!--An absolutely terrible way to do this, but it works-->
<script>
    const calloutTypes = [
        {% for c in site.callouts %}
        "{{ c[0] }}",
        {% endfor %}
    ];
    calloutTypes.forEach(type => {
        var elements = document.getElementsByClassName(type);
        for (let i = 0 ; i < elements.length ; i++) {
            var item = elements.item(i);
            if (item != null && item.id != null && item.id.length > 0) {
                heading = document.createElement('h6');
                heading.className = "callout";
                var id = item.id;
                heading.appendChild(createAnchor(id));
                heading.id = id;
                item.parentElement.insertBefore(heading, item);
                item.parentElement.removeChild(item);
                heading.appendChild(item);
            }
        }
    });

    function createAnchor(id) {
        var anchor = document.createElement('a');
        anchor.className = 'anchor-heading';
        anchor.href = '#' + id;
        anchor.setAttribute('aria-labelledby', id);
        var svg = document.createElement('svg');
        svg.setAttribute('viewBox', '0 0 16 16');
        svg.ariaHidden = 'true';
        var use = document.createElement('use');
        use.setAttribute('xlink:href', '#svg-link');
        use.innerHTML = '{% include icons/link.html %}';
        svg.appendChild(use);
        anchor.appendChild(svg);
        return anchor;
    };

    var methodsNeedingLinks = document.getElementsByClassName("m-link");
    for (let i = 0 ; i < methodsNeedingLinks.length ; i++) {
        var item = methodsNeedingLinks.item(i);
        if (item != null && item.id != null && item.id.length > 0) {
            header = document.createElement('h6');
            header.className = "m-link-viz";
            var id = item.id;
            header.appendChild(createAnchor(id));
            header.id = id;
            item.parentElement.insertBefore(header, item);
            item.parentElement.removeChild(item);
            header.appendChild(item);
        }
    }

    if (!document.location.href.endsWith("test/")) {

    /* Extremely terrible way to do this, but it colors things decently until the Proper Solution™ is implemented */
    const functionalInterfaces = [
        "Consumer",
        "BiConsumer",
        "TriConsumer",
        "BiFunction",
        "TriFunction",
        "QuadFunction",
        "RockFunction",
        "OnItemUseAction",
        "Supplier",
        "RocksGetter",
        "MossGrowingCallback",
        "Predicate",
        "Noise2D",
        "BlockBehaviour$StateArgumentPredicate",
        "BlockBehaviour$StatePredicate",
        "TemperatureCallback"
    ];
    const enums = [
        "Month",
        "SpawnPlacements$Type",
        "Heightmap$Types",
        "ForestType",
        "ProspectResult",
        "Punishment",
        "Direction",
        "AqueductModelPart",
        "SpikeModelType",
        "LampModelType",
        "Lifecycle",
        "GrassModelPart",
        "DeadModelVariant",
        "NutrientType",
        "GearBoxModelType",
        "ClutchModelType",
        "PushReaction",
        "OffsetType",
        "NoteBlockInstrument",
        "ItemDisplayContext",
        "GlassOperation",
        "Size",
        "Weight",
        "PlanterType",
        "ChiselMode",
        "ForgeRule",
        "DyeColor",
        "Heat",
        "InteractionResult",
        "Type",
        "Enum"
    ];
    const primitives = [
        "number",
        "boolean",
        "declare",
        "int",
        "float",
        "long",
        "double",
        "integer",
        "console"
    ];
    /* Important! Changing the class name removes an elm from the eleemnts collection, so the index must be decremented when the class is changed */
    var elements = document.getElementsByClassName('nx');
    for (let i = 0 ; i < elements.length ; i++) {
        var elm = elements.item(i);
        var txt = elm.textContent;
        if (primitives.includes(txt)) {
            elm.className = "kc";
            i--;
        } else if (enums.includes(txt)) {
            elm.className = "enum";
            i--;
        } else if (functionalInterfaces.includes(txt)) {
            elm.className = "nb";
            i--;
        } else {
            let nextElm = elm.nextElementSibling;
            if (nextElm && nextElm.className == "p" && nextElm.textContent) {
                if (nextElm.textContent == ":" || nextElm.textContent == "?:") {
                    elm.className ="kv";
                    i--;
                } else {
                    let prevElm = elm.previousElementSibling;
                    if (prevElm && prevElm.textContent && prevElm.className == "p" && /\(?\)?\./.test(prevElm.textContent) && /\(\)?[;:]?/.test(nextElm.textContent)) {
                        elm.className = "nf";
                        i--;
                    }
                }
            }
        }
    }
} else {
    console.warn("Encountered test page");
}
</script>