---
layout: default
---

<head>
    <link rel="alternate" type="application/rss+xml" title=" » Writing" href="{{ site.url }}/writing/feed.xml">
    <link rel="alternate" type="application/rss+xml" title=" » Updates" href="{{ site.url }}/feed.xml">
</head>

<body>
    {% unless page.tags == empty %}
    <div class="tags">
        <span style="font-size:small;">
            Tags:
            {% for tag in page.tags %}
                <a href="/writing/#{{ tag | downcase | replace: ' ', '-' }}">{{ tag }}</a>
            {% endfor %}
        </span>
    </div>
    {% endunless %}
</body>

{{ content }}
